@model IEnumerable<RepriseMyProducks.ViewModels.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>        
        <th></th>
    </tr>

    <tr>
        <td>
            All Items
        </td>
        <td>
            Displays all products for all categories
        </td>
        <td>
            @Html.ActionLink("View All Products", "ProductByCategories")
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>       
        <td>
            @Html.ActionLink("View Products", "ProductByCategories", new{ @categoryName = item.Name })
        </td>
    </tr>
}

</table>
