@model ProductsReprised.Data.SA_Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SA_Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SA_Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SA_Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SA_Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SA_Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SA_Product1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SA_Product1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
